[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pika = "*"
netifaces = "*"
peewee = "*"
python-dotenv = "*"
flask = "*"
flask-restful = "*"
flask-script = "*"
requests = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
